#promain{
	height: 100%;
	width: 100%;
	background-color: lightgray;

}
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.row{
	height: 450px;
	width: 100%;
/*	background-color: red;*/
}
.pro{
	height: 60%;
	width: 40%;
	float: left;
	margin-left: 7%;
/*	background-color: pink;*/
	margin-top:2% ;
	box-shadow: 2px 2px 6px black;
}
#p1{
	background-image: url(../images/p1.jpg);
	background-size: 100% 100%;
}
#p2{
	background-image: url(../images/p2.jpg);
	background-size: 100% 100%;
}
#p3{
	background-image: url(../images/p3.jpg);
	background-size: 100% 100%;
}
#p4{
	background-image: url(../images/p4.jpg);
	background-size: 100% 100%;
}
#p5{
	background-image: url(../images/p5.jpg);
	background-size: 100% 100%;
}
#p6{
	background-image: url(../images/p6.jpg);
	background-size: 100% 100%;
}
#p7{
	background-image: url(../images/p7.jpg);
	background-size: 100% 100%;
}
#p8{
	background-image: url(../images/p8.jpg);
	background-size: 100% 100%;
}
#p9{
	background-image: url(../images/p9.jpg);
	background-size: 100% 100%;
}
#p10{
	background-image: url(../images/p10.jpg);
	background-size: 100% 100%;
}
#p11{
	background-image: url(../images/p11.jpg);
	background-size: 100% 100%;
}
#p12{
	background-image: url(../images/p12.jpg);
	background-size: 100% 100%;
}
div h1{
	color:black;
	text-shadow: 1px 1px 3px black;
}
#logo b{
	color: white;
}
#logo i{
	color: white;
}
#submenu{
	height: 50px;
	width: 75%;
/*	background-color: orange;*/
float: left;

}
.submenu{
	height: 50px;
	width: 20%;
/*	background-color: white;*/
	float: left;
	padding-top: 10px;
	text-align: left;
}
.submenu a{
	color: white;
	font-size: 120%;
	text-decoration: none;

}
.submenu a:hover{
	font-size: 160%;

}
#logo{
	height: 50px;
	width: 20%;
	float: left;
	text-align: left;
	padding-top: 10px;
}
span{
	font-size: 120%;
	color: red;
/*	font-weight: bold;*/
/*	font-family: algerian;*/
	text-shadow: 2px 2px 3px silver;
}
@media only screen and (max-width:350px){
	.submenu a{
		font-size: 10px;
	}
	#logo{
		font-size: 3px;
		padding-top: 15px;
	}
}
#menu{
	height: 50px;
	width: 100%;
	background-color: black;
	box-shadow: 4px 4px 20px white;

}
